html, body {
  height: 100%
}

.app {
  height: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.app__container {
  min-width: 200px;
}

.item {
  margin: 5px;
  padding: 5px;
  text-align: center;
}